AI_SERVICE_API_KEY=mentriq-ai-service-key-2024
GROQ_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=mentriqshadow
PINECONE_ENVIRONMENT=aped-4627-b74a
PINECONE_HOST=

# LangSmith (optional)
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=MentriqShadow

# Anthropic (optional)
ANTHROPIC_API_KEY=
